.Grid 
{ 
  border: 1px solid #57566F; 
  border-bottom: 2px solid #57566F; 
  background-color: #FFFFFF;
  cursor: pointer;
}
.GridHeader
{
  background-image: url(../../images/gridImages/grid_headerBg.gif); 
  background-color: #8988A5; 
  border-bottom: 1px solid #57566F; 
  height: 28px;
  padding-left: 3px;
  cursor: default; 
  color: #000000;  
  font-family: verdana; 
  font-size: 10px;
  font-weight: bold;
  vertical-align: middle;
}
.GridHeaderText
{
  color: #FFFFFF;  
  font-family: verdana; 
  font-size: 10px;
}
.GridFooter
{
  cursor: default; 
  padding: 5px;
  height: 48px;
  vertical-align: bottom;
}
.GridFooterText
{
  color: #000000;  
  font-family: verdana; 
  font-size: 11px;
}
.HeadingRow 
{ 
  background-color: #E9E9EB; 
  background-image: url(../../images/gridImages/header_rowBg.gif);   
}
.HeadingCell 
{ 
  background-image: url(../../images/gridImages/header_bg.gif);   
  background-color: #E9E9EB; 
  padding: 3px; 
  padding-top: 2px; 
  padding-bottom: 2px; 
}
.HeadingCellHover
{ 
  background-image: url(../../images/gridImages/header_hoverBg.gif);   
  background-color: #F6F6F7; 
}
.HeadingCellActive
{ 
  background-image: url(../../images/gridImages/header_activeBg.gif);   
  background-color: #F6F6F7;  
}
.HeadingRow td.FirstHeadingCell
{ 
  background-image: url(../../images/gridImages/header_bg.gif); 
}
.HeadingCellText
{
  font-family: verdana; 
  font-size: 10px; 
  font-weight: bold; 
  text-align: left;
  padding-top: 3px;
  padding-bottom: 5px;
}
.Row 
{ 
  background-color: #FFFFFF; 
  cursor: default;
}
.Row td.DataCell 
{ 
  padding: 3px; 
  padding-top: 2px; 
  padding-bottom: 1px; 
  /*border-bottom: 1px solid #EAE9E1; */
  font-family: verdana; 
  font-size: 10px; 
  vertical-align: top; 
} 
.NoBorderRow td.DataCell 
{ 
  font-family: verdana; 
  font-size: 10px; 
} 
.SortedDataCell 
{ 
  background-color: #F5F5F5; 
} 
.Row td.LastDataCell 
{ 
  background-color: #EFEFF4; 
} 
.SelectedRow 
{ 
}
.SelectedRow td.DataCell 
{ 
  background-color: #FFEEC2; 
  padding: 2px; 
  padding-left: 3px; 
  padding-top: 1px; 
  padding-bottom: 1px; 
  font-family: verdana; 
  font-size: 10px; 
  /*border-bottom: 1px solid #4B4B6F; */
  /*border-top: 1px solid #4B4B6F; */
  border-right: 0px; 
  vertical-align: top; 
}
.SelectedRow td.FirstDataCell 
{ 
  background-color: #FFEEC2; 
  border-left: 1px solid #4B4B6F; 
  border-right: 0px; 
  padding-left: 2px; 
  padding-right: 3px; 
}
.SelectedRow td.LastDataCell 
{ 
  background-color: #FFEEC2; 
  border-right: 1px solid #4B4B6F; 
}
.GroupHeading
{
  color: #706F91; 
  background-color: #FFFFFF; 
  font-family: verdana; 
  font-weight: bold;
  font-size: 11px; 
  border-bottom: 2px solid #A5A4BD; 
  padding-top: 10px;
  padding-bottom: 3px;
}
.GroupByCell
{
  cursor: pointer;
}
.GroupByText
{
  color: #FFFFFF; 
  font-size: 11px;   
  font-weight: bold; 
  padding-right: 5px;
}
.SliderPopup
{
  background-color: #FFF4D7; 
  border: 1px solid #4B4B6F; 
  border-top-color: #9495A2; 
  border-left-color: #9495A2; 
  font-size: 11px; 
  font-family: Verdana;
  width: 150px;
  height: 30px;
}
.ScrollBar
{
  background-image: url(../../images/gridImages/scroller/scroller_bg.gif); 
}
.ScrollGrip
{
  background-image: url(../../images/gridImages/scroller/scroll_gripBg.gif); 
}


.AlternatingRow 
{ 
  cursor: default; 
}
.AlternatingRow td.DataCell 
{ 
  background-color: #F6F6F8; 
  padding: 3px; 
  padding-top: 2px; 
  padding-bottom: 1px; 
  /*border-bottom: 1px solid #EAE9E1; */
  font-family: verdana; 
  font-size: 10px; 
  vertical-align: top; 
} 
.AlternatingRow td.FirstDataCell 
{ 
  background-color: #F6F6F8; 
  padding-left: 3px; 
  cursor: default; 
} 
.HoverRow 
{ 
  cursor: default; 
}
.HoverRow td.DataCell 
{ 
  background-color: #E6E6EE; 
  padding: 3px; 
  padding-top: 2px; 
  padding-bottom: 1px; 
  /*border-bottom: 1px solid #EAE9E1; */
  font-family: verdana; 
  font-size: 10px; 
  vertical-align: top; 
} 
.HoverRow td.FirstDataCell 
{ 
  padding-left: 3px; 
} 
.HoverRow td.LastDataCell 
{ 
  border-right: 1px solid #9495A2; 
  border-bottom: 1px solid #9495A2; 
  padding-right: 2px; 
} 
