.x-axis-tracker 
{
	filter: alpha(opacity = 60);
}
#account-options li,
#account-options li.help 
{
	padding: 0 8px 0 10px;
}
#modal-container {
	display: block;
	border: 8px solid #9b9885;
	position: absolute;
}