<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
		<meta http-equiv="content-script-type" content="text/javascript" />
		<meta http-equiv="content-style-type" content="text/css" />
		<meta http-equiv="cache-control" content="no-cache">
		<meta http-equiv="expires" content="0">
		<meta http-equiv="pragma" content="no-cache">

		<title>Edit event title & details : Sedogo : Create your future timeline.  Connect, track and interact with like minded people.</title>

		<meta name="keywords" content="" />
		<meta name="description" content="" />
		<meta name="author" content="" />
		<meta name="copyright" content="" />
		<meta name="robots" content="" />
		<meta name="MSSmartTagsPreventParsing" content="true" />

		<meta http-equiv="imagetoolbar" content="no" />
		<meta http-equiv="Cleartype" content="Cleartype" />

		<link rel="stylesheet" href="css/main.css" />
		<!--[if gte IE 6]>
			<link rel="stylesheet" href="css/main_lte-ie-6.css" />
		<![endif]-->

	</head>


	<body id="event-detail">
        <div id="event-detail">
            <div class="right-col">
                <img src="img/event/1.jpg" title="" alt="" />
                <h3>Messages</h3>
                <p><a href="" title="">you have 5 new messages</a></p>
                <h3>Invites</h3>
                <p><a href="" title="">you have 1 new invite</a></p>
                <h3>Alerts</h3>
                <p><a href="" title="">book a campsite</a></p>
                <h3>Tracking</h3>
                <p><a href="" title="">Name</a></p>
                <p><a href="" title="">Name</a></p>
                <p><a href="" title="">Name</a></p>
            </div>
            <div class="left-col">
		        <h1 style="">Edit: Camping with the kids</h1>
		        <p>
		            <a href="" title="edit" class="button-sml">edit</a> 
		            <a href="" title="achieved" class="button-sml">achieved</a>
		        </p>
		        <h3>25/06/09</h3>
		        <p>Cras libero diam, vehicula id tristique eget, accumsan non justo. Maecenas sit amet ipsum velit. Sed lacinia urna a sapien elementum dignissim. Donec facilisis ipsum in lacus condimentum dictum. Donec eleifend euismod libero id pharetra. Curabitur id dapibus tellus. Pellentesque tincidunt ultricies elit in vulputate. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Quisque imperdiet venenatis justo ac tincidunt.</p>
		        <p><a href="" title="send a message">send a message</a> <a href="" title="post a comment">post a comment</a></p>
		        <h3>25/06/09</h3>
		        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc nec mauris libero, eget commodo ligula. Nunc ac erat dolor. Cras libero diam, vehicula id tristique eget, accumsan non justo. Maecenas sit amet ipsum velit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Quisque imperdiet venenatis justo ac tincidunt.</p>
		        <p><a href="" title="send a message">send a message</a> <a href="" title="post a comment">post a comment</a></p>
		    </div>
		</div>
	</body>
</html>